<canvas id="lession1"></canvas>
<script>
	var canvas = document.getElementById("canvas");
	initCanvas();
	initShaders();
	initBuffers();
	gl.clearColor(0.0,0.0,0.0,1.0);
	gl.enable(gl.DEPTH_TEST);
	draw();
	function initBuffers(){
		var triangleBuffer = gl.createBuffer();
		var triangleData = [
			0.0,1.0,0.0,
			1.0,0.0,0.0,
			-1.0,0.0,0.0
		]
		gl.bindBuffer(gl.ARRAY_BUFFER,buffer);
		gl.bufferData(gl.ARRAY_BUFFER,Float32array(triangleData),gl.STATIC_DRAW);
		gl.clearColor(0.0,0.0,0.0,1.0);
		gl.enable(gl.DEPTH_TEST);
		triangleData.itemSize = 3;
		triangleData.numItems = 3;

		var squareBuffer = gl.createBuffer();
		var squareData = [
			1.0,1.0,0.0,
			-1.0,1.0,0.0,
			-1.0,-1.0,0.0,
			1.0,-1.0,0.0
		]
		gl.bindBuffer(gl.ARRAY_BUFFER,squareData);
		gl.bufferData(gl.ARRAY_BUFFER,Float32Array(squareData),gl.STATIC_DRAW);
		squareData.itemSize = 3;
		squareData.numItems = 4;
	}
	function draw(){
		
	}
</script>